@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  box-sizing: border-box;
}

.tilt__card {
  width: 25rem;
  height: max-content;
  display: flex;
  margin: 2rem 1.5rem;
}

.portfolioCard__container {
  background: rgba(255, 255, 255, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0.8rem;
}

.portfolioCard__name {
  font-family: "Roboto Slab", serif;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0.8rem;
}

.portfolioCard__logo {
  width: 5rem;
  border-radius: 50px;
}

.portfolioCard__roles {
  color: #78b8f3;
  text-align: center;
}

.portfolioCard__description {
  width: 100%;
  margin-top: 10px;
  color: white;
  font-size: 0.95rem;
  text-align: center;
}
